{% extends "base.html" %}

{% block content %}

    <h1>What would you like to post?</h1>
    
    <form  action = "/newwblog" method='post'>
        <label> for= "title_field"> What do you want to call your post? </label>
        <input id="title_field"type = "text"  value="{{new_blog_title}}">
         
         <label for="body_field">What is your post?:</label>
         <textarea rows="5" cols="50" id="body_field" name="body" >{{ new_blog_body }}</textarea>
       
        <input id- "submit_button" type="submit" value='Add Post' />
       
    </form>

  {% endblock %}  